services:
  web:
    build:
      context: .
      dockerfile: web.dockerfile
    image: docker_example
    ports:
      - "8000:8080"
    volumes:
      - .:/app
    container_name: example_container
